body {
  overflow-x: hidden !important;
}

.user-layout {
  height: 100vh;
}

.user-logo {
  padding: 24px;
  display: flex;
  justify-content: flex-start;
}

.user-logo h1 {
  transition: 0.3s all;
  color: #fff;
  text-shadow: 1px 2px 4px rgba(255, 255, 255, 1);
}

.logo-style {
  transition: 0.3s all;
  color: #fff;
  margin-left: -10px;
}

.user-content-main {
  margin: 84px 16px !important;
  padding: 24px !important;
  min-height: 85vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  max-height: 100vh;
  overflow: auto;
  display: block !important;
  background: #fff;
}

.user-content-main::-webkit-scrollbar {
  transition: 0.5s all;
  width: 5px;
  border-radius: 8px;
  top: 0;
  right: 0;
}

.user-content-main::-webkit-scrollbar-thumb {
  background: #888;
}

.user-content-main::-webkit-scrollbar-track {
  background: #ddd;
}

.user-layout-header {
  padding: 0;
  background: #001529;
  display: flex;
  color: #fff;
  border-left: 1px solid #fff;
  align-items: center;
}

.user-layout-header svg {
  fill: #fff;
}

.user-avatar {
  position: fixed;
  left: 95%;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.settings-icon {
  position: fixed;
  display: flex;
  align-items: center;
  left: 91.5%;
  cursor: pointer;
  user-select: none;
}

.settings-icon svg {
  width: 30px;
  height: 30px;
}

@media (max-width: 600px) {
  aside {
    flex: 0 0 80px !important;
    max-width: 70px !important;
    min-width: 70px !important;
    width: 70px !important;
  }

  .user-logo h1 {
    transition: 0.3s all;
    color: #fff;
    margin-left: -16px;
  }

  .header-hide-button {
    display: none !important;
    opacity: 0 !important;
    fill: transparent !important;
  }

  .user-content-main {
    margin: 72px 7px 30px 7px;
    padding: 10px;
  }
}
