body {
  overflow-x: hidden !important;
}
.admin-layout {
  height: 100vh;
}
.admin-logo {
  padding: 24px;
  display: flex;
  justify-content: start;
}
.admin-logo h1 {
  transition: 0.3s all;
  color: #fff;
  text-shadow: 1px 2px 4px rgba(255, 255, 255, 1);
}
.logo-style {
  transition: 0.3s all;
  color: #fff;
  margin-left: -10px;
}
.admin-content {
  margin: 84px 16px;
  padding: 24;
  min-height: 85vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  max-height: 100vh;
  overflow: auto;
  background: #fff;
}
.admin-content::-webkit-scrollbar {
  transition: 0.5s all;
  width: 5px;
  border-radius: 8px;
  top: 0;
  right: 0;
}

.admin-content::-webkit-scrollbar-thumb {
  background: #888;
}

.admin-content::-webkit-scrollbar-track {
  background: #ddd;
}

.admin-layout-header {
  padding: 0;
  background: #001529;
  display: flex;
  color: #fff;
  border-left: 1px solid #fff;
  align-items: center;
}
.admin-layout-header svg {
  fill: #fff;
}
@media (max-width: 600px) {
  aside {
    flex: 0 0 80px !important;
    max-width: 70px !important;
    min-width: 70px !important;
    width: 70px !important;
  }
  .admin-logo h1 {
    transition: 0.3s all;
    color: #fff;
    margin-left: -16px;
  }
  .header-hide-button {
    display: none !important;
    opacity: 0 !important;
    fill: transparent !important;
  }
}
