@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap");
@import url("./css/bgAnimation.css");
@import url("./css/HomePage.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AR One Sans", sans-serif;
}

body::-webkit-scrollbar {
  transition: 0.5s all;
  -webkit-appearance: none;
  width: 0;
  top: 0;
  right: 0;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-white {
  transition: 0.3s all;
  padding: 12px 25px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  background: #006eff;
  color: #fff;
}

.btn-white:hover {
  background: #5500ff;
  letter-spacing: 2px;
}

/* Register - Login */

.register {
  transition: 0.3s all;
  display: flex;
  background: #222223;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-title {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
}

.form-container {
  padding: 15px;
  z-index: 999 !important;
  max-width: auto;
  background: #eeeeeed9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-case {
  transition: 0.3s all;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 15px 100px 15px 10px;
  font-size: 17px;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.form-case input {
  transition: 0.3s all;
  border: none;
  outline: none;
}

.form-case input:focus {
  margin-right: -5px;
}

.jumping {
  display: block;
  margin: 10px 0 !important;
}

@media (max-width: 500px) {
  .form-title {
    font-size: 25px;
  }
  .form-container {
    padding: 20px;
  }
  .form-case {
    font-size: 16px;
    padding: 15px 50px 15px 10px;
  }
}
